/*
    COLORS USED:

    green = #66bf6a

    yellow = #fffc99

    coral = #cca699

    dark blue = #33344e
    blue for links = #1199c3

    gray scale = #000 (black), #333, #999, #fff (white)
*/

body,
div,
ul,
li,
p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

/* my name */
h1 {
    font-size: 40px;
    color: #fff;
    line-height: 48px;
    display: inline;
}

/* headers for Work Experience, Projects, Education, Where I've Lived, Let's Connect */
h2 {
    font-weight: bold;
    font-size: 24px;
    color: #cca699;
    line-height: 29px;
    padding: 10px 5%;
}

/* headers for Skills at a Glance, Online Classes */
h3 {
    font-style: italic;
    font-size: 20px;
    line-height: 22px;
    padding: 20px 0 10px 0;
}


/* dates for work, projects, schools. online schools */
.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

/* work and school locations */
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

/* work description, project description */
p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

/* links */
a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

/* Don't let <a> for Savannah link begin a new line */
.inline-anchor {
    display: inline;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #fffc99;
    line-height: 28px;
    padding-left: 0;
}

/* color for Skills at a Glance; mobile, email, etc., in header and footer */
.green-text {
    color: #66bf6a;
}

/* contact data, skills */
.white-text {
    font-weight: bold;
    color: #fff;
}

/* Work Experience and Education blocks */
.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

/* header and footer background */
.dark-blue {
    background-color: #33344e;
}

/* "Web Developer" in header and "Let's connect" */
.coral-text {
    color: #cca699;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px 15px 10px 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}
